div(id='tinTalkApp' ng-controller='tinTalkMainCtrl as ttMain')
    div(id="tinTalkChat" class="hideChat" ng-class="{'expandChat': expandChatFlag, 'hideChat': hideChatFlag}")
        div(class="header")
            div(class='action-block')
                span(class='add-users chicon-user-add' ng-click='inviteToRoom()' ng-if='!activeRoom.isDefault && activeRoom.ownerId === cid' title='Add users')
                span(class='expand-chat chicon-maximize' ng-click='expandChat();' title='Maximize chat')
                span(class='hide-chat ' ng-class="{'chicon-chat': hideChatFlag, 'chicon-close2': !hideChatFlag}" ng-click="hideChat();" title='Hide chat')
            |Support chat | Online {{tinChat.online}}
        ul(class='rooms-selector' id='rooms-selector')
            li(ng-repeat='room in tinChat.rooms | orderBy:["-isDefault", "name"]' ng-class='{active: activeRoom.id === room.id}' set-active-room='' ng-click='setActiveRoom(room);') {{room.name}}
                span(class='chicon-close error ml5px' ng-click='deleteRoom(room, $event)' title='Delete room' ng-if='!room.isDefault && room.ownerId === cid')
                span(class='chicon-close error ml5px' ng-click='leaveRoom(room, $event)' title='Leave room' ng-if='!room.isDefault && room.ownerId !== cid')
            li(ng-show='showRoomBlock')
                span(class='chicon-plus icon16 success' ng-hide='showCreateRoom' ng-click='showCreateRoom = true') Create room
        div(class='new-room' ng-show='showCreateRoom')
            div(style='float:right')
                button(class='create-room chicon-plus' type='submit' ng-click='createRoom()' title='Add')
                button(class='cancel-room chicon-close2' type='submit' ng-click='cancelNewRoom()' title='Cancel')
            div(style='overflow:hidden')
                input(type='text' placeholder='Room name' ng-model='tinChat.newRoomName')
        ul(class='invite-list')
            li(ng-repeat='invite in tinChat.invites')
                img(ng-src='{{invite.logoUrl}}' width='25px')
                |{{invite.userName}} invited you to "{{invite.roomName}}"
                br
                button(class='invite-apply chicon-user-check success icon-mr5px' ng-click='acceptRejectInvite(invite, true)') Apply
                button(class='invite-cancel chicon-close error icon-mr5px' ng-click='acceptRejectInvite(invite, false)') Cancel
        ul(class='massage-list' scroll-glue)
            li(ng-repeat='msg in messageList | orderBy: "dateTime"' class='message-item')
                span(class='message-image' ng-class="{'sender': msg.cid == cid}")
                    img(ng-src='{{msg.logoUrl}}' width='55')/
                p(class='message-text' ng-class="{'sender': msg.cid == cid}")
                    span(class='message-sender') {{msg.sender}}:
                    |{{msg.text}}
        form(ng-submit='sendMessage()')
            button(class='chicon-send' type='submit' title='Send')
            label
                input(ng-model='message' placeholder='Enter your message...' autocomplete='off')
        div(id="people-list" ng-show='showInviteBlock')
            div(class='header')
                div(class='action-block')
                    span(class='hide-invite chicon-close' ng-click='closeRoomBlock()' title='Close users list')
                |Room members
            ul(class='checkedUserList')
                li(ng-repeat='user in activeRoom.users | orderBy:["inviteStatus", "userName"]')
                    a(class='remove-invite chicon-user-remove icon14 error ml5px' ng-click='removeUserFromRoom(user, activeRoom.id)' href='javascript:;')
                    span(class='icon14 mr5px' ng-class='{"chicon-user-check success": user.inviteStatus === "A", "chicon-clock warning": user.inviteStatus === "W"}')
                    |{{user.userName}}
            div(class='search-box')
                input(type='search' placeholder='Start typing to find person' ng-model='findUserInput' ng-trim='false')
                ul(class='inviteUserList')
                    li(ng-repeat='user in foundUsers | orderBy : "userName"' ng-click='sendInvitation(user)')
                        |{{user.userName}}
        div(class="block-message" ng-class='{hidden: tinChat.errorMessage === null}') tinChat.errorMessage
            br
            button(click='tinChat.errorMessage = null') Cancel
    div(ng-class="{'hidden': !expandChatFlag}" class='tintalk-overlay hidden')
input(type="hidden" id="chatServerAddress" value="#{chatServerAddress}")
link(rel='stylesheet', href='#{chatServerAddress}stylesheets/chat.css')
script(src='#{chatServerAddress}socket.io/socket.io.js')
script(src='#{chatServerAddress}javascripts/chat.js')
script(src='#{chatServerAddress}javascripts/external/scrollglue.js')