@import "variables";

@button-height : unit(@button-line-height * 1.5, em);

//  Mixins
//==================================================
.button-chat(
    @color        : @button-primary-color;
    @background   : @button-primary-bg;
    @border       : @button-primary-border;
    @border-width : @button-border-width;
    @radius       : @button-border-radius
) {
    text-align      : center;
    cursor          : pointer;
    position        : relative;
    text-decoration : none;
    line-height     : @button-height;
    padding         : 0 1em;
    .inline-block();
    .button-color(@color; @background; @border);
    .border-radius(@radius);
    & when (@border-width > 0){
        border-width : @border-width;
        border-style : solid;
    }
    & when (@border-width = 0), (@border-width = none){
        border : none;
    }
    & when (@button-transition = true){
        .transition(background; 0.3s);
    }
    & when (@button-transition = false){
        .transition(none);
    }
}

//  Fonts
//==================================================
.font-face(@icon-family, 'icons/tintalk-icons');

#tinTalkApp{
    @import "reset";
    @import "icons";

    &{
        position : relative;
        z-index  : 1005;
    }

    // Overlays
    .tintalk-overlay{
        position   : fixed;
        top        : 0;
        right      : 0;
        bottom     : 0;
        left       : 0;
        z-index    : 1000;
        background : #000;
        .opacity(0.5);
    }
}

#tinTalkChat{
    font-family : @font-family-text;
    line-height : @line-height;
    color       : @text-color;
    background  : #fff;
    position    : fixed;
    bottom      : 0;
    left        : 0;
    z-index     : 1005;
    width       : 350px;
    font-size   : @font-size-base;
    overflow    : hidden;
    //    .transition();
    .box-shadow(3px 3px 10px @gray);

    button{
        .button-chat();
    }

    select, textarea, input{
        padding          : .25em;
        border-width     : @input-border-width;
        border-style     : solid;
        border-color     : @input-border-color;
        background-color : @input-bg;
        color            : @input-color;
        max-width        : 100%;
        width            : 100%;

        &:focus{
            border-color : @input-border-color-focus;
        }
    }

    input, select{
        height      : @button-height;
        line-height : @button-height - .5;
    }

    hr{
        clear       : both;
        border      : none;
        border-top  : @hr-size solid @hr-color;
        line-height : 0;
        margin      : 1em 0;
        background  : inherit;
        color       : @hr-color;

        // With text
        &:before{
            content     : attr(title);
            top         : -0.6em;
            position    : relative;
            line-height : 1.2em;
            color       : inherit;
            max-width   : 94%;
            margin      : -(@hr-size / 2) 3% 0;
            padding     : 0 .75em;
            background  : inherit;
            .text-overflow();
            .inline-block();
        }
    }

    &.expandChat{
        top    : 0;
        right  : 0;
        margin : auto;
        width  : @tpopup-base-width;
        height : @tpopup-base-height;
        .box-shadow(none);

        .massage-list{
            margin  : 10px 2%;
            padding : 0;
            height  : 432px;
        }

        form{
            padding : 10px;
        }

        .checkedUserList{
            height : 495px;
        }
    }

    &.hideChat{
        left     : -350px;
        overflow : visible;
        .box-shadow(none);

        .rooms-selector{
            .box-shadow(none);
        }

        .hide-chat{
            position   : absolute;
            left       : 100%;
            top        : 0;
            padding    : @padding-base-vertical;
            background : @brand-info;
            color      : #fff;
            font-size  : 24px;

            &:hover{
                background : darken(@brand-info, 10%);
            }
        }
    }

    .header{
        position     : relative;
        z-index      : 11;
        background   : @header-bg;
        color        : @header-color;
        line-height  : @header-height;
        padding-left : @padding-base-horizontal;
    }

    .action-block{
        float      : right;
        background : darken(@header-bg, 10%);
    }

    .hide-chat, .expand-chat, .add-users, .hide-invite{
        font-size : 16px;
        cursor    : pointer;
        padding   : 0 10px;
        .inline-block(top);
    }

    .hide-chat, .hide-invite{
        .button-color(@brand-error; transparent; @color2 : #fff; @background2: @brand-error);
    }
    .expand-chat{
        .button-color(@brand-warning; transparent; @color2 : #fff; @background2: @brand-warning);
    }
    .add-users{
        .button-color(@brand-success; transparent; @color2 : #fff; @background2: @brand-success);
    }

    .rooms-selector{
        list-style  : none;
        overflow    : hidden;
        background  : @header-inner-bg;
        color       : @header-inner-color;
        line-height : @header-inner-height;
        position    : relative;
        z-index     : 10;
        .box-shadow(0 0 10px @gray);

        li{
            cursor  : pointer;
            float   : left;
            padding : 0 @padding-base-horizontal;

            &:hover{
                background : darken(@header-inner-bg, 5%);
            }

            &.active{
                background : #fff;
            }
        }
    }

    .new-room{
        position : absolute;
        top      : @header-height + @header-inner-height;
        left     : 0;
        right    : 0;
        z-index  : 10;
        padding  : @padding-base-vertical;
        .rgba(#000, .5);

        input{
            border : none;
        }

        .create-room{
            .button-color(#fff; @brand-success);
        }
        .cancel-room{
            .button-color(#fff; @brand-error;);
        }
    }

    .invite-list{
        position   : absolute;
        top        : @header-height + @header-inner-height;
        left       : 10%;
        right      : 10%;
        z-index    : 100;
        text-align : center;
        list-style : none;

        li{
            margin-top : .5em;
            padding    : @padding-larger-vertical;
            background : #fff;
            .box-shadow(0 5px 20px @gray-dark);

            .invite-apply{
                .button-color(#fff; @brand-success);
                margin-right : 1em;
            }
            .invite-cancel{
                .button-color(#fff; @brand-error;);
            }
        }
    }

    .block-message{
        position   : absolute;
        top        : @header-height + @header-inner-height;
        left       : 10%;
        right      : 10%;
        z-index    : 100;
        text-align : center;
        margin-top : .5em;
        padding    : @padding-larger-vertical;
        background : @state-error-bg;
        color      : @state-error-color;
        border     : 1px solid @state-error-border;

        button{
            font-size  : @font-size-small;
            margin-top : 5px;
            .button-color(#fff; @brand-error;);
        }
    }

    .massage-list{
        list-style : none;
        margin     : 0;
        padding    : 10px 5px;
        height     : 300px;
        overflow   : auto;
        font-size  : 13px;

        *{
            .user-select(text);
        }

        li{
            margin   : 0 0 10px;
            overflow : hidden;
        }

        .message-image{
            float        : left;
            margin-right : 10px;
            position     : relative;
            text-align   : center;
            height       : 55px;
            width        : 55px;

            &.sender{
                float : right;
            }

            img{
                width      : auto;
                max-height : 1005;
            }

            &:after, &:before{
                content      : '';
                position     : absolute;
                top          : 5px;
                right        : -12px;
                border-style : solid;
                border-width : 5px 10px;
                border-color : transparent #f7f7f7 transparent transparent;
            }

            &:before{
                right              : -10px;
                border-right-color : darken(#f7f7f7, 10%);
            }

            &.sender{
                margin : 0 0 0 10px;

                &:after, &:before{
                    right        : auto;
                    left         : -12px;
                    border-color : transparent transparent transparent #f7f7f7;
                }

                &:before{
                    right        : auto;
                    left         : -10px;
                    border-color : transparent transparent transparent darken(#f7f7f7, 10%);
                }
            }
        }

        .message-text{
            margin     : 0;
            overflow   : hidden;
            background : #f7f7f7;
            border     : 1px solid darken(#f7f7f7, 10%);
            padding    : @padding-small-vertical @padding-small-horizontal;
            .border-radius(3px);

            &.sender{
                text-align : right;
            }
        }
        .message-sender{
            display       : block;
            font-weight   : bold;
            margin-bottom : 5px;
        }
    }
    form{
        background : @gray-light;
        padding    : 5px;

        [type="submit"]{
            .button-chat();
            float : right;

            &:before{
                font-size : 16px;
            }
        }

        label{
            display  : block;
            margin   : 0;
            overflow : hidden;
        }

        input{
            padding          : @padding-base-vertical;
            border-width     : @input-border-width;
            border-style     : solid;
            border-color     : @input-border-color;
            background-color : @input-bg;
            color            : @input-color;
            max-width        : 100%;
            width            : 100%;
            & when (@button-transition = true){
                .transition(all; 0.3s);
            }

            &:focus{
                border-color : @brand-primary;
            }
        }
    }

    #people-list{
        position       : absolute;
        top            : 0;
        right          : 0;
        bottom         : 0;
        z-index        : 11;
        width          : 200px;
        padding-bottom : 35px;
        .rgba(#fff; 0.95);
        .box-shadow(0 0 20px @gray-darker);
    }

    .inviteUserList, .checkedUserList{
        list-style : none;
        overflow   : auto;
        font-size  : @font-size-small;

        li{
            padding : @padding-small-vertical @padding-base-horizontal;
        }

        .remove-invite{
            float      : right;
            margin-top : 2px;
        }
    }

    .inviteUserList{
        position   : absolute;
        bottom     : 100%;
        left       : 0;
        right      : 0;
        max-height : 150px;
        background : darken(@gray-light, 10%);
        //        border-top    : 2px solid darken(@gray-light, 10%);
        //        border-bottom : 2px solid darken(@gray-light, 5%);

        li{
            cursor : pointer;

            &:hover{
                background : darken(@gray-light, 5%);
            }
        }

        li + li{
            border-top : 1px solid darken(@gray-light, 5%);
        }
    }

    .checkedUserList{
        height : 330px;

        li{
            border-bottom : 1px solid @gray-light;

            &:hover{
                background : @gray-light;
            }
        }
    }

    .search-box{
        position   : absolute;
        bottom     : 0;
        left       : 0;
        right      : 0;
        padding    : 5px;
        background : @gray-light;
    }
}