.icon12, .icon14, .icon16, .icon18, .icon24, .icon32, .icon48, .icon64{
    .inline-block();
    .box-sizing(content-box);
}
.icon12{ .icon-size(12px; true) !important; }
.icon14{ .icon-size(14px; true) !important; }
.icon16{ .icon-size(16px; true) !important; }
.icon18{ .icon-size(18px; true) !important; }
.icon24{ .icon-size(24px; true) !important; }
.icon32{ .icon-size(32px; true) !important; }
.icon48{ .icon-size(48px; true) !important; }
.icon64{ .icon-size(64px; true) !important; }

//[class*="icon-"], [class^=" icon-"]{
//    position : relative;
//}

[class^="chicon-"]:before, [class*=" chicon-"]:before, [data-chicon]:before{
    font-family             : @icon-family;
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    text-transform          : none;
    line-height             : 1;
    position                : relative;
    text-align              : center;
    margin                  : 0;
    .inline-block();

    // Better Font Rendering
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.chicon-send:before{
    content : "\e000";
}
.chicon-close:before{
    content : "\e001";
}
.chicon-chat:before{
    content : "\e002";
}
.chicon-user-add:before{
    content : "\e003";
}
.chicon-user-remove:before{
    content : "\e004";
}
.chicon-user-check:before{
    content : "\e005";
}
.chicon-maximize:before{
    content : "\e006";
}
.chicon-minimize:before{
    content : "\e007";
}
.chicon-plus:before{
    content : "\e008";
}
.chicon-minus:before{
    content : "\e009";
}
.chicon-cancel:before{
    content : "\e00a";
}
.chicon-arrow-up:before{
    content : "\e00b";
}
.chicon-arrow-right:before{
    content : "\e00c";
}
.chicon-arrow-down:before{
    content : "\e00d";
}
.chicon-arrow-left:before{
    content : "\e00e";
}
.chicon-clock:before{
    content : "\e00f";
}
.chicon-close2:before{
    content : "\e010";
}