@import "../../../../../system/css/less/base/normalize";

// Reset & Basics
//==================================================
*{
    -webkit-touch-callout       : none; //если надо, то запрещаем выделение текста
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0); //убираем фон подсветки ссылок и кнопок
    -webkit-text-size-adjust    : none; //фиксим баг в IOS cо шкалированием в landscape
    //    .reset-style();
    margin                      : 0;
    padding                     : 0;
    .box-sizing();
    .user-select();
}

body{
    -webkit-font-smoothing : subpixel-antialiased !important;
    -ms-touch-action       : manipulation;
    touch-action           : manipulation;
}
a:focus, [type="checkbox"]:focus, [type="radio"]:focus, *:focus{
    outline : none;
}
a, [type="submit"], [type="button"], button, [type="checkbox"], [type="radio"]{ cursor : pointer; }
img, [type="checkbox"], [type="radio"]{ vertical-align : middle; }
img{
    max-width : 100%;
    height    : auto;
}

[contenteditable="true"]{
    .inline-block();
    background : @input-bg;
    border     : @input-border-width solid @input-border-color;
    cursor     : text;
    padding    : @padding-mini-vertical @padding-mini-horizontal;
}

//// Reset Form
////==================================================
input, select, textarea, button{
    font-family : inherit;
    font-weight : normal;
    .placeholder();
}

// Reset width of input images, buttons, radios, checkboxes
button,
[type="file"],
[type="image"],
[type="submit"],
[type="reset"],
[type="button"],
[type="radio"],
[type="checkbox"]{
    width : auto; // Override of generic input selector
}
[type="file"]{
    border  : none;
    padding : 0;
}
[type="color"]{
    padding : 0;
}

textarea{
    vertical-align : top;
    line-height    : normal;
    .resize();
}

[type="checkbox"], [type="radio"]{
    padding : 0;
    border  : none;
    height  : auto;

    &:focus{
        .box-shadow(none, @input-shadow-focus) !important;
    }
}

// Make multiple select elements height not fixed
select[multiple],
select[size]{
    height : auto;
}

// Fix optgroup Firefox bug per https://github.com/twitter/bootstrap/issues/7611
select optgroup{
    font-style  : inherit;
    font-size   : inherit;
    font-family : inherit;
}

button, [type="button"], [type="reset"], [type="submit"]{
    -webkit-appearance : button;

    &:focus{
        .box-shadow(none, @input-shadow-focus);
    }
}

[disabled]{
    cursor : default;
}

.clear{
    display    : block;
    clear      : both;
    overflow   : hidden;
    visibility : hidden;
    height     : 0;
}

.clearfix{
    .clearfix-mixin() !important;
}

.success{
    color : @brand-success;
}
a.success:hover{
    color : darken(@brand-success, 15%);
}
.warning{
    color : @brand-warning;
}
a.warning:hover{
    color : darken(@brand-warning, 15%);
}
.error{
    color : @brand-error;
}
a.error:hover{
    color : darken(@brand-error, 15%);
}
.info{
    color : @brand-info;
}
a.info:hover{
    color : darken(@brand-info, 15%);
}

.mr5px{ margin-right : 5px !important; }
.ml5px{ margin-left : 5px !important; }
.icon-mr5px:before{ margin-right : 5px !important; }
.icon-ml5px:after{ margin-left : 5px !important; }