// Activate elements
//==================================================
@import "../../../../../system/css/less/base/mixins-pack";
@import "../../../../../system/css/less/base/activate-elements";

// Size toaster popup
//==================================================
@tpopup-base-width    : 960px;
@tpopup-base-height   : 560px;
@tpopup-small-width   : 480px;
@tpopup-small-height  : 360px;

// Fonts
//==================================================
@font-family-text     : Arial, Helvetica, "Helvetica Neue", sans-serif;
@font-family-headings : @font-family-text;
@icon-family          : 'tintalk-icons';

@font-size-larger     : 1.5em;
@font-size-large      : 1.25em;
@font-size-base       : 14px;
@font-size-small      : 0.85em;
@font-size-mini       : 0.75em;

// Icons size
//==================================================
@icon-size-larger : 24px;
@icon-size-large  : 19px;
@icon-size-base   : 16px;
@icon-size-small  : 11px;

@social-icon-size : 20px;

//Grays
//==================================================
@gray-darker  : #111;
@gray-dark    : #333;
@gray         : #666;
@gray-light   : #eaeaea;
@gray-lighter : #fafafa;

// Brand Color
//==================================================
@brand-primary : #31B0D5;
@brand-success : #2ECC71;
@brand-info    : #3498DB;
@brand-warning : #E67E22;
@brand-error   : #E74C3C;

@primary-bg    : @brand-primary;
@primary-color : #fff;

// Social Color
//==================================================
@facebook  : #3B5A99;
@twitter   : #1AA8E0;
@gplus     : #CA3E2D;
@rss       : #FE9900;
@linkedin  : #4875B5;
@youtube   : #B72D24;
@pinterest : #B72D24;

// Scaffolding
//==================================================
@body-bg                 : #FFF;
@text-color              : @gray-dark;
@line-height             : 1.428571429;

// variables for Header
@header-bg               : @gray;
@header-color            : @gray-light;
@header-height           : 2em;

@header-inner-bg         : @gray-light;
@header-inner-color      : @gray;
@header-inner-height     : 2.5em;

// Links
//==================================================
@link-color         : #59a5c3;
@link-color-hover   : darken(@link-color, 15%);
@link-color-active  : @link-color-hover;
@link-color-visited : @link-color; // look typography.less line 16

// Components
//==================================================
@padding-larger-vertical   : 12px;
@padding-larger-horizontal : 18px;

@padding-large-vertical    : 10px;
@padding-large-horizontal  : 16px;

@padding-base-vertical     : 6px;
@padding-base-horizontal   : 12px;

@padding-small-vertical    : 4px;
@padding-small-horizontal  : 8px;

@padding-mini-vertical     : 2px;
@padding-mini-horizontal   : 6px;

@border-radius-small       : 0.25em;
@border-radius-base        : 0.5em;
@border-radius-large       : 0.75em;
@border-radius-larger      : 1.25em;

@hr-size                   : 1px;
@hr-color                  : @gray-light;

// Form states and alerts
// IS USED BY DEFAULT for: alerts, message, table coloring, datepicker, progressbar, range
//==================================================
@state-border-radius  : 0;

@state-primary-bg     : lighten(softlight(@brand-primary, #FFF), 25%);
@state-primary-color  : average(@brand-primary, #000);
@state-primary-border : darken(@state-primary-bg, 10%);

@state-success-bg     : lighten(softlight(@brand-success, #FFF), 25%);
@state-success-color  : average(@brand-success, #000);
@state-success-border : darken(@state-success-bg, 10%);

@state-info-bg        : lighten(softlight(@brand-info, #FFF), 25%);
@state-info-color     : average(@brand-info, #000);
@state-info-border    : darken(@state-info-bg, 10%);

@state-warning-bg     : lighten(softlight(@brand-warning, #FFF), 25%);
@state-warning-color  : average(@brand-warning, #000);
@state-warning-border : darken(@state-warning-bg, 10%);

@state-error-bg       : lighten(softlight(@brand-error, #FFF), 25%);
@state-error-color    : average(@brand-error, #000);
@state-error-border   : darken(@state-error-bg, 10%);

// Buttons
//==================================================
@button-line-height    : 1.2;

@button-border-width   : 0;

@button-border-radius  : 0; //Enter in ems

@button-primary-bg     : @primary-bg;
@button-primary-color  : @primary-color;
@button-primary-border : softlight(@primary-bg, #000);

@button-success-bg     : @brand-success;
@button-success-color  : #FFF;
@button-success-border : softlight(@brand-success, #000);

@button-warning-bg     : @brand-warning;
@button-warning-color  : #FFF;
@button-warning-border : softlight(@brand-warning, #000);

@button-error-bg       : @brand-error;
@button-error-color    : #FFF;
@button-error-border   : softlight(@brand-error, #000);

@button-info-bg        : @brand-info;
@button-info-color     : #FFF;
@button-info-border    : softlight(@brand-info, #000);

// Forms
//==================================================
@label-color              : #888;

@input-color              : darken(@link-color, 15%);

@input-bg                 : #fff;
@input-bg-disabled        : @gray-light;

@input-border-width       : 1px;
@input-border-color       : #ccc;
//border color and shadow in focus
@input-border-color-focus : @primary-bg;
@input-border-radius      : 0;
//Do you need a shadow on focus? (true / false)
@input-shadow-focus       : true;
@input-shadow-size        : 5px;

@input-color-placeholder  : #CCC;